<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Money</th>
      <% for (const company in gameState.companies) { %>
        <th>
          <%= company %><br>
          $<%= gameState.companies[company].money %>
        </th>
      <% } %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (const player in gameState.players) { %>
      <tr>
        <td><%= player %></td>
        <td>$<%= gameState.players[player].money %></td>
        <% for (const company in gameState.companies) { %>
          <td>
            <%= gameState.players[player].shares[company] || 0 %>
            <form action="/buy-share" method="POST" style="display:inline;">
              <input type="hidden" name="player" value="<%= player %>">
              <input type="hidden" name="company" value="<%= company %>">
              <button type="submit">+</button>
            </form>
            <form action="/sell-share" method="POST" style="display:inline;">
              <input type="hidden" name="player" value="<%= player %>">
              <input type="hidden" name="company" value="<%= company %>">
              <button type="submit">-</button>
            </form>
          </td>
        <% } %>
        <td>
          <form action="/update-player-money" method="POST" class="input-button-container">
            <input type="hidden" name="player" value="<%= player %>">
            <input type="text" name="amount" class="amount-input">
            <button type="submit">+</button>
          </form>
        </td>
      </tr>
    <% } %>
    <!-- Form to pay to each shareholder -->
    <tr>
      <td>Run</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td>
          <form action="/pay-per-share" method="POST" class="pay-retain-form">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="amount" value="<%= gameState.companies[company].lastPayPerShare %>" class="amount-input">
            <div class="button-container">
              <button type="submit" name="retains" value="true" class="retain-button">R</button>
              <button type="submit" name="retains" value="false" class="pay-button">P</button>
            </div>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
    <!-- Form to update company price -->
    <tr>
      <td>Stock</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td>
          <form action="/update-company-price" method="POST" class="input-button-container">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="price" value="<%= gameState.companies[company].price %>" class="amount-input">
            <button type="submit">=</button>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
    <!-- Form to update company money -->
    <tr>
      <td>Cash</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td>
          <form action="/update-company-money" method="POST" class="input-button-container">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="amount" class="amount-input">
            <button type="submit">+</button>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Recent Moves</h2>
<ul>
  <% gameState.log.slice(-10).reverse().forEach(move => { %>
    <li><%= move %></li>
  <% }) %>
</ul>
