<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>$</th>
      <% for (const company in gameState.companies) { %>
        <th class="company-<%= company %>">
          <%= gameState.companies[company].name %><br>
          <span class="company-money"><%= gameState.companies[company].money %></span>
        </th>
      <% } %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (const player in gameState.players) { %>
      <tr id="player-<%= player %>">
        <td><%= player %></td>
        <td class="player-money"><%= gameState.players[player].money %></td>
        <% for (const company in gameState.companies) { %>
          <td class="player-shares-<%= company %>">
            <div class="buy-sell-container">
              <form action="/share-action" method="POST">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="player" value="<%= player %>">
                <input type="hidden" name="company" value="<%= company %>">
                <button type="submit" class="buy-button">+</button>
              </form>
              <div class="quantity">
                <%= gameState.players[player].shares[company] || 0 %>
              </div>
              <form action="/share-action" method="POST">
                <input type="hidden" name="quantity" value="-1">
                <input type="hidden" name="player" value="<%= player %>">
                <input type="hidden" name="company" value="<%= company %>">
                <button type="submit" class="sell-button">-</button>
              </form>
            </div>
          </td>
        <% } %>
        <td>
          <form action="/update-player-money" method="POST" class="input-button-container">
            <input type="hidden" name="player" value="<%= player %>">
            <input type="text" name="amount" class="amount-input">
            <button type="submit" class="add-button">+</button>
          </form>
        </td>
      </tr>
    <% } %>
    <!-- Form to pay to each shareholder -->
    <tr>
      <td>Run</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td class="company-<%= company %>">
          <form action="/pay-per-share" method="POST" class="pay-retain-form">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="amount" value="<%= gameState.companies[company].lastPayPerShare %>" class="amount-input company-last-pay">
            <div class="button-container">
              <button type="submit" name="retains" value="true" class="retain-button">R</button>
              <button type="submit" name="retains" value="false" class="pay-button">P</button>
            </div>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
    <!-- Form to update company price -->
    <tr>
      <td>Stock</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td class="company-<%= company %>">
          <form action="/update-company-price" method="POST" class="input-button-container">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="price" value="<%= gameState.companies[company].price %>" class="amount-input company-price">
            <button type="submit" class="set-button">=</button>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
    <!-- Form to update company money -->
    <tr>
      <td>$</td>
      <td></td>
      <% for (const company in gameState.companies) { %>
        <td id="company-<%= company %>">
          <form action="/update-company-money" method="POST" class="input-button-container">
            <input type="hidden" name="company" value="<%= company %>">
            <input type="text" name="amount" class="amount-input">
            <button type="submit" class="add-button">+</button>
          </form>
        </td>
      <% } %>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Recent Moves</h2>
<ul id="recent-moves">
  <% gameState.log.slice(-10).reverse().forEach(move => { %>
    <li><%= move %></li>
  <% }) %>
</ul>
